/* tags*/
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    color: brown;
    text-align: center;
}
a{
    text-decoration: none;
}
li{
    padding: 10px;
}
h3{color: rgb(0, 116, 52);}
p{text-decoration: underline;}
h2{ border: 1px solid; }
/* ids*/
#Produtos{
    border: 1px red solid;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
/* CLasses*/
.produtoDestaque{
    
    border: 1px red solid;
    
}
.produtoDestaque img{
   max-width: 650;
   max-height: 300px;
}
.Header{
    list-style: none;
    display: flex;
    justify-content: center;
}
